:root {
    --primary-color: #00483d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.section-margin-top {
    margin-top: 28px;
}

.fixed-scroll-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}