:root {
    --primary-color: #00483d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}


.section-margin-top {
    margin-top: 28px;
}

.fixed-scroll-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.product__container-item {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.product__container-inner .product__container-fix {
    margin-left: -12px !important;
    margin-right: -12px !important;
}

.primary-color {
    background-color: var(--primary-color) !important;
}

.sub-primary-color {
    background-color: #00917a !important;
}



.container {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px !important;
    }
}