.current-products {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    background-color: #fff;
    margin-bottom: 12px;
}

.checkbox-products {
    display: flex;
    align-items: center;
}

.checkbox-products input {
    margin-right: 8px;
}

.delete-products .btn-delete {
    background-color: rgb(237, 93, 10);
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
}

.cart__product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #fff;
    margin-bottom: 12px;
}

.cart__product-item-wrapper {
    display: flex;
    align-items: center;
}

.cart__product-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}


.cart__product-item-other {
    display: flex;
    align-items: center;
}

.cart__product-item-other .cart__product-item-quanity {
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: burlywood;
    border: 1px solid burlywood;
}

.cart__product-item-delete button {
    
    background-color: rgb(237, 93, 10);
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
}

.cart__product-item-info .info-name {
    font-weight: 700;
    font-size: 18px;
}

.cart__product-item-info .info-desc {
    font-size: 15px;
    font-style: italic;
}

.cart__product-item-info .info-price {
    color: rgb(255, 119, 0);
    font-weight: 700;
}

.orderinfo__wrapper {
    background-color: #fff;
    padding: 18px;
    
}

.form-orderinfo {
    width: 100%;
}

.orderinfo__heading {
    text-align: center;

}

.form-orderinfo .form-group label {
    margin-left: 6px;
}

.form-orderinfo .form-group input {
    width: 100%;
    border: 1px solid #efecec;
    padding: 5px 12px;
    border-radius: 567px;
    transition: all linear .2s;
}

.form-orderinfo .form-group input:focus {
    border: 1px solid green;
}

.form-orderinfo .btn-order {
    margin-top: 12px;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
}