
#app {
    position: relative;
}



/* =========================CATEGORY================== */


#category {
    position: relative;
    overflow: hidden;
}

.category__wrapper {
    background-color: #fff;
    border-radius: 8px;
    padding: 18px;
}

.category__item {  
    color: #000;
}

.category__heading {
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 4px solid var(--primary-color);
    background-color: #fff;
}

.category__item-list {
    margin-top: 10px;
}

.category__item-list-li {
    padding: 4px 0 4px 20px;
    
}

.category__item-list-li a{
    color: #000;


}

.category__item-list-li:hover {
    background-color: #ece9e9;
}



/* ==========================SLIDER=================== */


#slider .image-slider {
    width: 100%;
    border-radius: 8px;
}

#slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#slider .carousel-control-prev {
    justify-content: left;
}

#slider .carousel-control-prev i {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transform: translateX(-50%);
    opacity: .7;
    color: #7d7777;
    box-shadow: -4px 0px 2px #ccc;
}

#slider .carousel-control-next {
    justify-content: right;
}

#slider .carousel-control-next i {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transform: translateX(50%);
    opacity: .7;
    color: #7d7777;
    box-shadow: 4px 0px 2px #ccc;
}

#slider .slider__banner-image-img {
    width: 100%;
    transition: all .4s ease-in;
}

#slider .slider__banner-image-img:hover {
    transform: translate3d(-5px, 2px, 6px);
    
}
/* =====================QUICK SALES IMAGES================= */

.sales-imgs-item-img {
    width: 100%;
    
}


/* ================SALES FLASH ONLINE =================*/

.salesflash__heading-title {
    color: #ff6801;
    font-weight: 700;
}

.salesflash__heading-nav {
    padding: 4px 6px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #00917a;
    color: #fff;
    font-weight: 600;
}

.salesflash__heading-nav-item {
   padding: 5px 5px;
   display: block;
   background-color: #7d7777;
}


.salesflash__heading-timer strong {
    background-color: #ff6801;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
}

.salesflash__content {
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    margin-top: 24px;
}

.salesflash__content-wrapper {
    background-color: #009981;
    padding: 12px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.salesflash__content-wrapper-button i {
    font-size: 18px;
}

.salesflash__content-wrapper-button .btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #00483d;
    color: #fff;
    padding: 8px 14px;
    border-radius: 50%;
    z-index: 4;
}

.salesflash__content-wrapper-button .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #00483d;
    color: #fff;
    padding: 8px 14px;
    border-radius: 50%;
    z-index: 4;
}

.salesflash__content-wrapper .product-img-slide {
    width: 100%;
}

.salesflash__content-inner {
    margin-left: -4px;
    margin-right: -4px;
    transition: all .3s linear;
    flex-wrap: nowrap;
}

.salesflash__content-item {
    padding: 0 8px;
}

.salesflash__content-img {
    width: 100%;
    height: 100%;
}

.salesflash__content-product {
    background-color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.salesflash__content-product-link {
    color: black;
    
}

.salesflash__content-product .product-image img {
    width: 100%;
}

.salesflash__content-product .product-info .info-link {
    color: black;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

.salesflash__content-product .product-info .info-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.salesflash__content-product .product-info .info-price strong{
    font-size: 14px;
    color: #fd475a;
    margin-right: 4px;
}

.salesflash__content-product .product-info .info-price strike {
    color: #333333;
    font-size: 12px;
}



/* ================PRODUCT CONTAINER=================== */

.product__container-heading {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.product__container-heading-bar {
    display: flex;
    height: 32px;
}

.product__container-heading-bar-left {
    background-color: #ff6801;
    width: 50px;
    position: relative;
}

.product__container-heading-bar-left.sub-primary-color::after {
    position: absolute;
    content: '';
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0; 
    border-top: 32px solid transparent;
    border-left: 32px solid #00917a;
}

.product__container-heading-bar-left::after {
    position: absolute;
    content: '';
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0; 
    border-top: 32px solid transparent;
    border-left: 32px solid #ff6801;
}



.product__container-heading-bar-right {
    padding-left: 50px;
    height: 100%;
    background-color: white;
    flex-shrink: 100%;
    padding-right: 50px;
    
}

.product__container-heading-bar-right .bar-link {
    color: #fff;
}

.product__container-heading-bar-right h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    line-height: 32px;
}

.product__container-heading-bar-right .bar-link h3{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    line-height: 32px;
}

.product__container-heading-bar-right .bar-link h3:hover {
    color: #00917a;
}

.product__container-heading-viewall a {
    display: flex;
    color: #009981;
    font-size: 16px;
}

.product__container-heading-viewall a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    background-color: #009981;
    margin-left: 5px;
}

